@{
	ViewData["Title"] = "Perfume catalog";
}

<h3>Explicit loading</h3>
<h3>Perfumes</h3>
<table class="table-condensed" bgcolor="pink" cellpadding="15" cellspacing="15">
	<tr>
		<td>Perfume</td>
		<td>Brand</td>
		<td>Country</td>
		<td>Volume</td>
		<td>Price</td>
		<td>Count</td>

	</tr>

	@foreach (var perfume in Model)
	{
		<tr>
			<td>@perfume.Name</td>
			<td>@perfume.Brand.Name</td>
			<td>@perfume.Brand.Country</td>
			<td>@perfume.Volume</td>
			<td>@perfume.Price</td>
			<td>@perfume.Count</td>
		</tr>
	}
</table>